.thumbnail {
	position: relative;
	margin-left: 45px;
}

.thumbnail ul,
.thumbnail li {
	font-size: 11px;
	list-style: none;
	float: left;
	padding: 2px;
	text-align: center;
	position: relative;
}

.thumbnail li {
	width: 130px;
	height: 120px;
	background: #bfbfbf;
	padding: 8px;
	cursor: pointer;
	margin: 6px;
}

.thumbnail li:hover {
	position: relative;
	background: #ffffff;
	border: 1px solid #ffa500;
	padding: 7px;
}

.thumbnail li img {
	border: 1px solid #000000;
}
